.taskItem {
	width: 360px;
	font-size: 1.5rem;
	line-height: 2.5rem;
	border-bottom: 2px solid var(--primary-color);
	padding: 10px 0;
	display: flex;
	flex-direction: column;
}

.mainContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mainContent {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.taskItemText {
	font-size: 2rem;
	line-height: 2.5rem;
	cursor: pointer;
}
